.container{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.form{
    width:30%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border:2px solid rgb(148, 144, 160);
    margin-top: 5rem;
    border-radius: .5rem;
}

.button{
    border: none;
    padding:.85rem;
    border-radius:.5rem;
    background-color: #2471A3;
    margin-top:.5rem;
    margin-bottom: 7px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color:#e7ebec
}
.button:hover{
    background-color: #297aaf;
}
.button:active{
    transform: scale(.99);
}